* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title {
    font-size: 3.5rem;
}

.count {
    margin: 1rem 0;
    font-size: 8rem;
    font-weight: 700;
}

.btn {
    border: .2rem solid #000;
    border-radius: .5rem;
    padding: .4rem .8rem;
    font-size: 1.5rem;
    margin-right: .5rem;
    transition: .5s linear;
}

.btn:hover {
    background-color: #000;
    color: #fff;
}